/* pantryItem section css  */
.pantry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pantry-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.pantry-item:hover {
  transform: scale(1.05);
}

.pantry-item-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pantry-item-details {
  padding: 10px;
  text-align: center;
}

.pantry-item-details h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.pantry-item-details p {
  color: #666;
}
